<p>
	<strong>First name:</strong> <%= @registration.fname %>
</p>
<p>
	<strong>Last name:</strong> <%= @registration.lname %>
</p>
<p>
	<strong>E-mail Address:</strong> <%= @registration.email %>
</p>