<p>
	<strong>Name:</strong> <%= @registration.name %>
</p>
<p>
	<strong>Media Outlet:</strong> <%= @registration.media %>
</p>
<p>
	<strong>Country:</strong> <%= @registration.country %>
</p>
<p>
	<strong>E-mail Address:</strong> <%= @registration.email %>
</p>