	<div class="jumbotron">

		<h1>
			Thank you for attending the media briefing 
		</h1>

		<h1>
			<strong>Realising the true impact of asthma</strong>
		</h1>

		<br>
			<p>
				The webcast is now over. Should you wish to set up interviews with the REALISE&trade; survey experts, please do not hesitate to contact:</p>
				<p>Jenna Seymour on +44 (0)791 874 8590 or <%= link_to "Jenna.Seymour@mundipharma.co.uk", "mailto:Jenna.Seymour@mundipharma.co.uk" %>
				<p>
				 <p>or</p>
				 <p>
					Candice Debleu on <%= link_to "candice@auroracomms.com", "mailto:candice@auroracomms.com" %> or work: +44 20 7148 3629, mobile: +44 7837 054 822.
				</p>

</div>