<div class="navbar">
<div class="navbar-inner">
    <div class="container">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
				<%= link_to "Home", root_path %> | <%= link_to "Help Centre", help_path %>
	     </div>
    </div>
</div>
<div class="jumbotron" style="margin-top: -20px; background-color: #f3f3f3; color: #f3f3f3;">

	<!-- <img src='http://www.streamingwell.tv/bayermedicalwebex/assets/img/Bayer_logo.png' height="100px" width="100px" />

  <h2 style="color:#0090C5; margin-bottom: 10px;">Bayer Medical Webex Portal</h2> -->
  <div class="row">
		<h4 style="color: #333;">Previous Presentation: 22nd September 2014</h4>
		<h2 style="color: #0090C5;">Cancer- and treatment-related fatigue</h2>
		<h4 style="color: #333;">Dr Matti Aapro</h4>
		<iframe src="//player.vimeo.com/video/108346409" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<br/>
		<a href="https://www.dropbox.com/s/jc8fafcrsgkyqqf/Cancer-%20and%20treatment-related%20fatigue%20with%20Dr%20Matti%20Aapro.mp4?dl=0" class="btn btn-primary btn-large">Click to Download</a>
	</div>
</div>
<br />
<p align="center">If you experience difficulties playing the video, please visit the <%= link_to "Help Centre", help_path %>.</p>
