<div class="span8" style="margin-left: 0px; margin-bottom: 50px;">
	<h4>
	<span style="color: #0090C5;">1)</span> Join the call by dialing a phone number corresponding to your location from the list below
</h4>
	<h4>
	<span style="color: #0090C5;">2)</span> Use the following <span style="color: #390; font-size: 20px;">Guest Passcode: 249766</span>
</h4>
<h4>
	<span style="color: #0090C5;">3)</span> Once on the call, please click "Start Video" to join the webex video
</h4>
</div>

<div class="span4" style="margin-left: 20px;" align="center">
	<h2><%= link_to "Start video", live_path, class: "btn btn-primary btn-large" %></h2>
</div>


<div class="span12" style="margin-left: 0;">
<!-- <h2 style="color:#0090C5;"><strong>Additional Access:</strong></h2>	-->

<div class="span4" style="margin-left: 0px; padding-right: 5px;" align="left">
		<h4 style="color:#390;">Americas</h4>
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Country</th>
	        <th>Phone number</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>USA/Canada</td>
	        <td>1-719-325-2630</td>
	      </tr>
	      <tr>
	        <td>USA/Canada</td>
	        <td>1-855-747-8824</td>
	      </tr>
	      <tr>
	        <td>Canada, Montreal</td>
	        <td>+1 514 669 5909</td>
	      </tr>
	      <tr>
	        <td>Canada, Toronto</td>
	        <td>+1 416 915 3615</td>
	      </tr>
	      <tr>
	        <td>Argentina (toll free)</td>
	        <td>0800 444 2864</td>
	      </tr>
	      <tr>
	        <td>Chile (toll free)</td>
	        <td>123 0020 3917</td>
	      </tr>
	      <tr>
	        <td>Colombia (toll free)</td>
	        <td>01 800 518 1763</td>
	      </tr>
	      <tr>
	        <td>Mexico (toll free)</td>
	        <td>001 800 514 7726</td>
	      </tr>
	      <tr>
	        <td>Mexico, Mexico City</td>
	        <td>+52 55 4777 2659</td>
	      </tr>
	      <tr>
	        <td>Panama (toll free)</td>
	        <td>00 800 226 4666</td>
	      </tr>
	      <tr>
	        <td>Peru (toll free)</td>
	        <td>0800 54 967</td>
	      </tr>
	      <tr>
	        <td>Uruguay (toll free)</td>
	        <td>0004 019 0561</td>
	      </tr>
	      <tr>
	        <td>Venezuela (toll free)</td>
	        <td>0800 102 9660</td>
	      </tr>
	    </tbody>
	  </table>
	</div>

<div class="span4" style="margin-left: 0px; padding-right: 5px; " align="left">
		<h4 style="color:#390;">Asia Pacific</h4>
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Country</th>
	        <th>Phone number</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Australia (toll free)</td>
	        <td>1 800 720 493</td>
	      </tr>
	      <tr>
	        <td>Australia, Brisbane</td>
	        <td>+61 (0) 7 3015 0608</td>
	      </tr>
	      <tr>
	        <td>Australia, Melbourne</td>
	        <td>+61 (0) 3 8687 0614</td>
	      </tr>
	      <tr>
	        <td>Australia, Sydney</td>
	        <td>+61 (0) 2 8017 6391</td>
	      </tr>
	      <tr>
	        <td>Bahrain (toll free)</td>
	        <td>8008 1214</td>
	      </tr>
	      <tr>
	        <td>Bahrain, Manama</td>
	        <td>+973 1650 0402</td>
	      </tr>
	      <tr>
	        <td>Hong Kong</td>
	        <td>+852 3051 2724</td>
	      </tr>
	      <tr>
	        <td>Hong Kong (toll free)</td>
	        <td>800 968 082</td>
	      </tr>
	      <tr>
	        <td>Indonesia (toll free)</td>
	        <td>001 803 0613 2212</td>
	      </tr>
	       <tr>
	        <td>Japan (mobile)</td>
	        <td>0120 270 611</td>
	      </tr>
	      <tr>
	        <td>Japan (toll free)</td>
	        <td>0120 286 011</td>
	      </tr>
	      <tr>
	        <td>Japan, Chiba</td>
	        <td>+81 (0) 43 321 6880</td>
	      </tr>
	       <tr>
	        <td>Japan, Fukuoka</td>
	        <td>+81 (0) 92 290 6880</td>
	      </tr>
	      <tr>
	        <td>Japan, Hiroshima</td>
	        <td>+81 (0) 82 558 6880</td>
	      </tr>
	      <tr>
	        <td>Japan, Nagoya</td>
	        <td>+81 (0) 52 850 6880</td>
	      </tr>
	      <tr>
	        <td>Japan, Osaka</td>
	        <td>+81 (0) 6 4560 0303</td>
	      </tr>
	      <tr>
	        <td>Japan, Sapporo</td>
	        <td>+81 (0) 11 234 6880</td>
	      </tr>
	      <tr>
	        <td>Japan, Sendai</td>
	        <td>+81 (0) 22 708 6880</td>
	      </tr>
	       <tr>
	        <td>Japan, Shizuoka</td>
	        <td>+81 (0) 54 902 6880</td>
	      </tr>
	      <tr>
	        <td>Japan, Tachikawa</td>
	        <td>+81 (0) 42 841 6880</td>
	      </tr>
	      <tr>
	        <td>Japan, Tokyo</td>
	        <td>+81 (0) 3 4560 1274</td>
	      </tr>
	      <tr>
	        <td>Japan, Toyama</td>
	        <td>+81 (0) 76 408 6880</td>
	      </tr>
	      <tr>
	        <td>Japan, Urawa</td>
	        <td>+81 (0) 48 698 6880</td>
	      </tr>
	      <tr>
	        <td>Japan, Yokohama</td>
	        <td>+81 (0) 45 677 6880</td>
	      </tr>
	      <tr>
	        <td>New Zealand (toll free)</td>
	        <td>0800 459 127</td>
	      </tr>
	      <tr>
	        <td>New Zealand, Auckland</td>
	        <td>+64 (0) 9 929 1769</td>
	      </tr>
	      <tr>
	        <td>Singapore</td>
	        <td>+65 6622 1773</td>
	      </tr>
	      <tr>
	        <td>Singapore (toll free)</td>
	        <td>800 616 3175</td>
	      </tr>
	      <tr>
	        <td>South Korea (toll free)</td>
	        <td>007 986 136 2233</td>
	      </tr>
	      <tr>
	        <td>South Korea, Seoul</td>
	        <td>+82 (0) 2 3483 1924</td>
	      </tr>
	      <tr>
	        <td>Thailand (toll free)</td>
	        <td>001 800 6136 2243</td>
	      </tr>
	      <tr>
	        <td>Vietnam (toll free)</td>
	        <td>1800 9228</td>
	      </tr>
	    </tbody>
	  </table>
	</div>

	<div class="span4" style="margin-left: 0px;"align="left">
		<h4 style="color:#390;">Europe, Middle East and Africa</h4>
		<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Country</th>
	        <th>Phone number</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>Austria (toll free)</td>
	        <td>0800 886 63404</td>
	      </tr>
	      <tr>
	        <td>Austria (Vienna)</td>
	        <td>+43 (0) 1 25302 1775</td>
	      </tr>
	      <tr>
	        <td>Belarus (toll free)</td>
	        <td>8 820 0011 0353</td>
	      </tr>
	      <tr>
	        <td>Belgium (toll free)</td>
	        <td>0800 39 268</td>
	      </tr>
	      <tr>
	        <td>Belgium, Brussels</td>
	        <td>+32 (0) 2 400 1980</td>
	      </tr>
	      <tr>
	        <td>Bulgaria (toll free)</td>
	        <td>00800 111 4944</td>
	      </tr>
	      <tr>
	        <td>Bulgaria, Sofia</td>
	        <td>+359 (0) 2 491 7244</td>
	      </tr>
	      <tr>
	        <td>Croatia (toll free)</td>
	        <td>0800 223 004</td>
	      </tr>
	      <tr>
	        <td>Cyprus (toll free)</td>
	        <td>800 97400</td>
	      </tr>
	      <tr>
	        <td>Czech Republic (toll free)</td>
	        <td>800 701 236</td>
	      </tr>
	      <tr>
	        <td>Czech Republic, Prague</td>
	        <td>+420 225 986 505</td>
	      </tr>
	      <tr>
	        <td>Denmark (toll free)</td>
	        <td>80 70 35 78</td>
	      </tr>
	      <tr>
	        <td>Denmark, Copenhagen</td>
	        <td>+45 32 71 16 70</td>
	      </tr>
	      <tr>
	        <td>Egypt (toll free)</td>
	        <td>0800 000 0401</td>
	      </tr>
	      <tr>
	        <td>Estonia (toll free)</td>
	        <td>800 011 1569</td>
	      </tr>
	      <tr>
	        <td>Estonia, Tallinn</td>
	        <td>+372 622 6519</td>
	      </tr>
	      <tr>
	        <td>Finland (toll free)</td>
	        <td>0800 772 230</td>
	      </tr>
	      <tr>
	        <td>Finland, Helsinki</td>
	        <td>+358 (0) 9 2310 1611</td>
	      </tr>
	      <tr>
	        <td>France (toll free)</td>
	        <td>0800 946 112</td>
	      </tr>
	      <tr>
	        <td>France, Paris</td>
	        <td>0811 655 134</td>
	      </tr>
	      <tr>
	        <td>France, Paris</td>
	        <td>+33 (0) 1 76 77 22 50</td>
	      </tr>
	      <tr>
	        <td>Germany</td>
	        <td>01801 001 378</td>
	      </tr>
	      <tr>
	        <td>Germany (toll free)</td>
	        <td>0800 588 9225</td>
	      </tr>
	      <tr>
	        <td>Germany, Frankfurt</td>
	        <td>+49 (0) 69 5060 9515</td>
	      </tr>
	      <tr>
	        <td>Germany, Munich</td>
	        <td>+49 (0) 89 24443 2900</td>
	      </tr>
	      <tr>
	        <td>Greece (toll free)</td>
	        <td>00800 128 811</td>
	      </tr>
	      <tr>
	        <td>Greece, Athens</td>
	        <td>+30 211 181 3815</td>
	      </tr>
	      <tr>
	        <td>Hungary (toll free)</td>
	        <td>068 001 9662</td>
	      </tr>
	      <tr>
	        <td>Hungary, Budapest</td>
	        <td>+36 1 808 8134</td>
	      </tr>
	      <tr>
	        <td>Iceland (toll free)</td>
	        <td>800 9841</td>
	      </tr>
	      <tr>
	        <td>Ireland</td>
	        <td>1890 907 722</td>
	      </tr>
	      <tr>
	        <td>Ireland (toll free)</td>
	        <td>1800 937 695</td>
	      </tr>
	      <tr>
	        <td>Ireland, Dublin</td>
	        <td>+353 (0) 1 246 5614</td>
	      </tr>
	      <tr>
	        <td>Israel (toll free)</td>
	        <td>180 921 2890</td>
	      </tr>
	      <tr>
	        <td>Israel, Tel Aviv</td>
	        <td>+972 3 763 0384</td>
	      </tr>
	      <tr>
	        <td>Italy (toll free)</td>
	        <td>800 148 288</td>
	      </tr>
	      <tr>
	        <td>Italy, Milan</td>
	        <td>+39 02 3046 4837</td>
	      </tr>
	      <tr>
	        <td>Italy, Rome</td>
	        <td>+39 06 4523 6635</td>
	      </tr>
	      <tr>
	        <td>Latvia (toll free)</td>
	        <td>8000 4374</td>
	      </tr>
	      <tr>
	        <td>Latvia, Riga</td>
	        <td>+371 6778 2598</td>
	      </tr>
	      <tr>
	        <td>Lithuania (toll free)</td>
	        <td>8800 31445</td>
	      </tr>
	      <tr>
	        <td>Lithuania, Vilnius</td>
	        <td>+370 5205 5239</td>
	      </tr>
	      <tr>
	        <td>Luxembourg</td>
	        <td>+352 2730 2276</td>
	      </tr>
	      <tr>
	        <td>Luxembourg (toll free)</td>
	        <td>800 28428</td>
	      </tr>
	      <tr>
	        <td>Netherlands (toll free)</td>
	        <td>0800 020 0593</td>
	      </tr>
	      <tr>
	        <td>Netherlands, Amsterdam</td>
	        <td>+31 (0) 20 716 8266</td>
	      </tr>
	      <tr>
	        <td>Norway (toll free)</td>
	        <td>800 58459</td>
	      </tr>
	      <tr>
	        <td>Norway, Oslo</td>
	        <td>+47 2162 4054</td>
	      </tr>
	      <tr>
	        <td>Poland (toll free)</td>
	        <td>00800 121 4340</td>
	      </tr>
	      <tr>
	        <td>Poland, Warsaw</td>
	        <td>+48 (0) 22 295 3504</td>
	      </tr>
	      <tr>
	        <td>Portugal (toll free)</td>
	        <td>800 784 434</td>
	      </tr>
	      <tr>
	        <td>Portugal, Lisbon</td>
	        <td>+351 21 316 4041</td>
	      </tr>
	      <tr>
	        <td>Romania (toll free)</td>
	        <td>0800 801 030</td>
	      </tr>
	      <tr>
	        <td>Romania, Bucharest</td>
	        <td>+40 (0) 21 529 3969</td>
	      </tr>
	      <tr>
	        <td>Russia (toll free)</td>
	        <td>8 800 500 9319</td>
	      </tr>
	      <tr>
	        <td>Russia, Moscow</td>
	        <td>+7 495 213 0988</td>
	      </tr>
	      <tr>
	        <td>Saudi Arabia (toll free)</td>
	        <td>800 844 4963</td>
	      </tr>
	      <tr>
	        <td>Slovakia (toll free)</td>
	        <td>0800 001 661</td>
	      </tr>
	      <tr>
	        <td>Slovakia, Bratislava</td>
	        <td>+421 (0 )2 3321 5333</td>
	      </tr>
	      <tr>
	        <td>Slovenia (toll free)</td>
	        <td>0800 80994</td>
	      </tr>
	      <tr>
	        <td>Slovenia, Ljubljana</td>
	        <td>+386 1 600 1622</td>
	      </tr>
	      <tr>
	        <td>South Africa (toll free)</td>
	        <td>0800 988 886</td>
	      </tr>
	      <tr>
	        <td>South Africa,Johannesburg</td>
	        <td>+27 11 019 7087</td>
	      </tr>
	      <tr>
	        <td>Spain (toll free)</td>
	        <td>900 803 689</td>
	      </tr>
	      <tr>
	        <td>Spain, Barcelona</td>
	        <td>+34 93 800 1935</td>
	      </tr>
	      <tr>
	        <td>Spain, Madrid</td>
	        <td>+34 91 114 6640</td>
	      </tr>
	      <tr>
	        <td>Sweden (toll free)</td>
	        <td>0200 125 456</td>
	      </tr>
	      <tr>
	        <td>Sweden, Stockholm</td>
	        <td>+46 (0) 8 5065 3944</td>
	      </tr>
	      <tr>
	        <td>Switzerland (toll free)</td>
	        <td>0800 841 702</td>
	      </tr>
	      <tr>
	        <td>Switzerland, Geneva</td>
	        <td>+41 (0) 22 595 4857</td>
	      </tr>
	      <tr>
	        <td>Switzerland, Zurich</td>
	        <td>+41 (0) 44 580 7246</td>
	      </tr>
	      <tr>
	        <td>Turkey (toll free)</td>
	        <td>00 800 448 828 358</td>
	      </tr>
	      <tr>
	        <td>Turkey, Istanbul</td>
	        <td>+90 212 375 50 13</td>
	      </tr>
	      <tr>
	        <td>UAE (toll free)</td>
	        <td>8000 3570 2638</td>
	      </tr>
	      <tr>
	        <td>UK</td>
	        <td>0845 351 2816</td>
	      </tr>
	      <tr>
	        <td>UK (toll free)</td>
	        <td>0800 368 0950</td>
	      </tr>
	      <tr>
	        <td>UK, Belfast</td>
	        <td>+44 (0) 28 9595 0092</td>
	      </tr>
	      <tr>
	        <td>UK, Edinburgh</td>
	        <td>+44 (0) 13 1460 0154</td>
	      </tr>
	      <tr>
	        <td>UK, London</td>
	        <td>+44 (0) 20 3481 0132</td>
	      </tr>
	      <tr>
	        <td>UK, Reading</td>
	        <td>+44 (0) 11 8370 1135</td>
	      </tr>
	      <tr>
	        <td>Ukraine (toll free)</td>
	        <td>0800 500 732</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>

