 <div class="pull-right">
	<%= link_to "Return to home page", root_path, class: 'btn btn-primary' %>
 </div>

<h1 style="color: #0090C5">Help Centre</h1>
	<h4><span style="color: #390">If you are experiencing any difficulties with this website, please refer to the advice below.</span></h4>
	<h6>This document contains links to external sites. Bayer is not responsible for the privacy practices or the content of such web sites.</h6>
	<div class="hero-unit" style="background-color: #fff;">
	
	<li><a href="#login" style="color: #0090C5">Trouble Logging In/Logging Out?</a></li>
	<li><a href="#browser" style="color: #0090C5">Browser Issues</a></li>
	<li><a href="#playback" style="color: #0090C5">Trouble playing the video?</a></li>
	<li><a href="#windows" style="color: #0090C5">Windows 8 Advice</a></li>
	<li><a href="#pcrequirements" style="color: #0090C5">Minimum PC Requirements</a></li>
	<li><a href="#mobilerequirements" style="color: #0090C5">Minimum Mobile Requirements</a></li>
	<li><strong><a href="#contact" style="color: #0090C5">Can't find your answer in the help centre?</a></strong></li>
		<br>
		<br>

		<a name="login"></a><h4><span style="color: #390">Trouble Logging In/Logging Out?</span></h4>
		<h5>Cookie blocking</h5>
			<p>This site uses cookies for login purposes only. If you are unable to login or logout, it’s possible your browser's privacy settings are preventing you from doing so. Please note, if you are using a remote desktop your privacy settings may be different to your local computer.</p>
			<p>Check out the following for instructions relevant to the web browser you use:</p>
				<ul class="tab">
					<li>To allow cookies in Internet Explorer, you'll find the relevant settings under Tools > <br><p class="tab">Internet Options > Privacy. Under Settings, move the slider down to "Medium" or lower.</p></li>
					<li><a href="http://support.apple.com/kb/TS4207" target="_blank" style="color: #0090C5">Enabling and disabling cookies on iOS</a></li>

					<li><a href="http://support.mozilla.org/en-US/kb/Enabling%20and%20disabling%20cookies" target="_blank" style="color: #0090C5">Enabling and disabling cookies on Mozilla Firefox</a></li>
					<li><a href="http://support.google.com/chrome/bin/answer.py?hl=en&answer=95647" target="_blank" style="color: #0090C5">Managing cookies on Google Chrome</li>
					<li><a href="http://support.apple.com/kb/PH5042" target="_blank" style="color: #0090C5">Managing cookies on Apple's Safari</a></li>
				</ul>

		<h5>Clear Your Cache and Cookies</h5>
			<p>If you are experiencing problems logging in or displaying pages, it's worth trying to resolve the issue by clearing the browser cache. If that doesn’t help, you should also try clearing the browser cookies. Instructions for clearing cache and cookies are different for each browser and version.</p>
			<p class="tab"><a href="http://www.wikihow.com/Clear-Your-Browser%27s-Cache" target="_blank" style="color: #0090C5">Clearing your browser's cache</a></p>
			<p class="tab"><a href="http://www.wikihow.com/Clear-Your-Browser%27s-Cookies" target="_blank" style="color: #0090C5">Clearing your browser’s cookies</a></p>

				
			<br>

		<a name="browser"></a><h4><span style="color: #390">Browser Issues</span></h4>	
			<h5>Force Refresh</h5>
			<p>A force refresh or reload will ask the browser to re-check with the web server to make sure it has the latest version of the web page you are viewing. Below are the keyboard shortcuts for force refreshing your browser:</p> 

			<p class="tab"><strong>Windows:</strong> Ctrl + F5</p>
			<p class="tab"><strong>Mac:</strong> Apple + R or Cmd + R</p>
			<p class="tab"><strong>Linux:</strong> Ctrl + F5</p>

			<br>

		<a name="playback"></a><h4><span style="color: #390">Trouble playing the video?</span></h4>
		<p>You will need <strong>Adobe Flash Player 10.0.32 or above</strong> in order to watch the webcast.</p>
		<p><a href="http://helpx.adobe.com/flash-player.html" target="_blank" style="color: #0090C5">Click here</a> to check your current Flash version and install any necessary updates in five easy steps.</p>

			<br>
		
		<a name="windows"></a><h4><span style="color: #390">Windows 8 Advice</span></h4>
		<p>Some users of Windows 8 may experience a problem where no video player is displayed. <br><a href="http://helpx.adobe.com/flash-player/kb/flash-player-issues-windows-8.html" target="_blank" style="color: #0090C5">Click here</a> for a step by step guide to troubleshooting Flash on Windows 8.</p>

			<br>

		<a name="pcrequirements"></a>	<h4><span style="color: #390">Minimum Desktop/Laptop Requirements</span></h4>
			<h5>Screen resolution</h5>
			<p>Recommended minimum screen resolution of 1024x768</p>
			<h5>Internet connection</h5>
			<p>You'll need a broadband connection with at least 700 Kbps for the best viewing experience.</p>
			<h5>Operating System</h5>
				<p class="tab"><strong>Windows:</strong> XP SP2 or above</p>
				<p class="tab"><strong>Mac OS X:</strong> 10.4 or above</p>
				<p class="tab"><strong>Linux</strong></p>

			<h5>Browser</h5>
				<p class="tab"><a href="http://www.microsoft.com/windows/ie/downloads/default.asp" target="_blank" style="color: #0090C5">Internet Explorer 8.0 or above</a></p>
				<p class="tab"><a href="http://www.mozilla.org/en-US/firefox/fx/#desktop" target="_blank" style="color: #0090C5">Mozilla Firefox 4.0 or above</a></p>
				<p class="tab"><a href="http://www.google.com/chrome/" target="_blank" style="color: #0090C5">Google Chrome 14.0 or above</a></p>
				<p class="tab"><a href="http://www.apple.com/safari/download/" target="_blank" style="color: #0090C5">Safari 4.0 or above</a></p>
			<h5>Privacy settings</h5>	
			<p>Cookies must be enabled.</p>
			<br>

			<a name="mobilerequirements"></a><h4><span style="color: #390">Minimum requirements for mobile</span></h4>
			<h5>Operating System</h5>
				<p class="tab"><strong>iOS:</strong> 3.2</p>
				<p class="tab"><strong>Android:</strong> 2.0 and up</p>
			<h5>Browser</h5>
				<p class="tab"><strong>iOS:</strong> Mobile Safari</p>
				<p class="tab"><strong>iOS:</strong> Default Android browser</p>
			<h5>Internet Connection</h5>
			<p>To watch these videos on iPhone/iPad or Android, your device must be connected to the Internet. We recommend a Wi-Fi connection with at least 700Kbps for optimal viewing.</p>
			<h5>Privacy settings</h5>	
			<p>Cookies must be enabled. <a href="http://support.apple.com/kb/TS4207" target="_blank" style="color: #0090C5">Click here</a> for a step by step guide to enabling and disabling cookies on iOS</p>
			<br>
<div class="well">
		<a name="contact"></a><h4><span style="color: #390">Can't find your answer in the help centre?</span></h4>
		<p>Please contact <a href="mailto:branden.mittra@streamingwell.com" style="color: #0090C5">Branden Mittra</a> on 07515 120163 or <a href="mailto:francis.namouk@streamingwell.com" style="color: #0090C5">Francis Namouk</a> on 07890 691495.</p>
	</div>
</div>
</div>