<div class="container">
	<div class="jumbotron">

		<h1>
			Realising the true impact of asthma
		</h1>

		<h1>
			 European Respiratory Society (ERS) Annual Congress 2013
		</h1>

		<p>
			Tuesday 10 September, 14:30 – 15:15 CET
		</p>
			
			<br>

			<h3>FOR MEDICAL JOURNALISTS ONLY</h3>

			<h4>Please register below to participate in the online media briefing.</h4>

			<br>

			<p>Should you have any questions in the meantime, please do not hesitate to contact</p><p>Jenna Seymour on +44 (0)791 874 8590 or <%= link_to "Jenna.Seymour@mundipharma.co.uk", "mailto:Jenna.Seymour@mundipharma.co.uk" %></p>

</div>

<br>

			<div class="span3">
			</div>

			<div class="marketing span6">
				<%= render 'layouts/register' %>
			</div>

</div>