	<div class="jumbotron">

		<h1>
			Realising the true impact of asthma
		</h1>

		<h2>
			 European Respiratory Society (ERS) Annual Congress 2013
		</h2>

		<h3>
			Tuesday 10 September, 14:30 – 15:15 CET
		</h3>
			
			<p>FOR MEDICAL JOURNALISTS ONLY<p>

			<p>Thank you for your interest in the online media briefing. Please check back on XX August 2013 to register your attendance.</p>

			<p>Should you have any questions in the meantime, please do not hesitate to contact Jenna Seymour on +44 (0)791 874 8590 or <%= link_to "Jenna.Seymour@mundipharma.co.uk", "mailto:Jenna.Seymour@mundipharma.co.uk" %></p>
			
	</div>
