<div class="container">
	<div class="jumbotron">

		<h1>
			Realising the true impact of asthma
		</h1>

		<p><i>
			 European Respiratory Society (ERS) Annual Congress 2013
		</p>

		<p>
			Tuesday 10 September, 14:30 – 15:15 CET
		</i></p>
			
			<h3>FOR EUROPEAN MEDIA ONLY</h3>

			<h4>Please register below to participate in the online media briefing.</h4>

			<br>

			<small>
				THIS MEDIA BRIEFING IS SPONSORED BY MUNDIPHARMA INTERNATIONAL LIMITED. IT WILL NOT COVER ANY SPECIFIC PRODUCT INFORMATION. 
  			</small>

</div>

<br>

			
			<div class="marketing span6">
				<%= render 'layouts/register' %>
			</div>

			
	</div>

