<div class="live">
		<h1>Realising the true impact of asthma</h1>
	<br>

	<!-- <img src="assets/realise-webcast.png"/> -->
	<!-- <iframe width="768" height="462" src="http://cdn.livestream.com/embed/fanaticgrouptv?layout=4&color=0xe7e7e7&autoPlay=false&mute=false&iconColorOver=0x888888&iconColor=0x777777&allowchat=true&height=385&width=640" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe> -->

	<!-- INSERT VIMEO EMBED CODE HERE -->
	<div class="flex-video widescreen vimeo">
		<iframe src="//player.vimeo.com/video/74208476?title=0&amp;byline=0&amp;portrait=0&amp;color=4cbdec" width="768" height="432" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<br>
</br>
<div class="jumbotron-post-webcast">
			<p>
				Should you wish to set up interviews with the REALISE&trade; survey experts, please do not hesitate to contact:</p>
				<p>Jenna Seymour on +44 (0)791 874 8590 or <%= link_to "Jenna.Seymour@mundipharma.co.uk", "mailto:Jenna.Seymour@mundipharma.co.uk" %>
				<p>
				 <p>or</p>
				 <p>
					Candice Debleu on +44 (0)207 148 3629 or <%= link_to "candice@auroracomms.com", "mailto:candice@auroracomms.com" %>
				</p>
			</div>

</div>

