		<div class="webcast">
			<p>
			Thank you for registering and welcome to the media briefing 
		</p>

		<strong><h1>Realising the true impact of asthma</h1></strong> 		
		</p>
		<p>
			The briefing will commence on 10 September 2013 at 14:30 CET and will be streamed live from Barcelona through this webpage. 
		</p>
</div>

<div class="jumbotron">

		<h2>
			Agenda		
		</h2>
			
				<table class="table table-striped">
				<tbody>
					<tr>
						<td style="width: 20%">
							<strong><span style="color:#FFF">14:30</span></strong>
						</td>
						<td style="width: 80%">
							<strong>Welcome,</strong> Monica Fletcher
						</td>
					</tr>
					<tr>
						<td>
							<strong><span style="color:#FFF">14:35</span></strong>
						</td>    
						<td>
							<strong>The true impact of asthma,</strong> Professor David Price
						</td>
					</tr>
					<tr>
						<td>
							<strong><span style="color:#FFF">14:45</span></strong>
						</td>
						<td>
							<strong>Are patient attitudes related to asthma control?,</strong> Professor Thys van der Molen
						</td>
					</tr>
					<tr>
						<td>
							<strong><span style="color:#FFF">14:55</span></strong>
						</td>    
						<td>
							<strong>Q&A,</strong> Chaired by Monica Fletcher
						</td>
					</tr>
					<tr>
						<td>
							<strong><span style="color:#FFF">15:10</span></strong>
						</td>    
						<td>
							<strong>Conclusion,</strong> Monica Fletcher
						</td>
					</tr>
					<tr>
						<td>
							<strong><span style="color:#FFF">15:15</span></strong>
						</td>    
						<td>
							<strong>Close</strong>
						</td>
					</tr>
			</table>
	</div>

	