	<div class="jumbotron">

		<h1>
			Realising the true impact of asthma
		</h1>

		<h2>
			 European Respiratory Society (ERS) Annual Congress 2013
		</h2>

		<h3>
			Tuesday 10 September, 14:30 – 15:15 CET
		</h3>
			
			<p>FOR MEDICAL JOURNALISTS ONLY<p>

			<p>Please register below to participate in the online media briefing.</p>

			<p>If you have already registered, please sign in here.</p>
			
	</div>
