	<div class="jumbotron">

		<h3>
			Thank you for registering and welcome to the media briefing ‘Realising the true impact of asthma’ 		
		</h3>

		<h4>
			The briefing will commence on 10 September 2013 at 14:30 CET and will be streamed live from Barcelona through this webpage. 
		</h4>

		<hr>


		<h4>
			Agenda		
		</h4>
			

			<p>14:30 – 14:35    Welcome, Monica Fletcher OBE</p>
			<p>14:35 – 14:45    The true impact of asthma exacerbations, Professor David Price</p>
			<p>14:45 – 14:55    Achieving better asthma control through greater understanding of patient asthma health attitudes, Professor Thys van der Molen</p>
			<p>14:55 – 15:10    Q&A, Monica Fletcher OBE</p>
			<p>15:10 – 15:15    Closing, Monica Fletcher OBE</p>
			
	</div>

	