<div class="jumbotron">

		<h1>
			Thank you for registering and welcome to the media briefing 
		</h1>
		<h1>
			Realising the true impact of asthma 		
		</h1>
			<br>
		<h3>
			The briefing will commence on 10 September 2013 at 14:30 CET and will be streamed live from Barcelona through this webpage. 
		</h3>
		<br>
		<hr>


		<h2>
			Agenda		
		</h2>
			
				<table class="table table-striped">
				<tbody>
					<tr>
						<td style="width: 25%">
							<strong>14:30 – 14:35</strong>
						</td>
						<td style="width: 75%">
							<strong>Welcome,</strong> Monica Fletcher
						</td>
					</tr>
					<tr>
						<td>
							<strong>14:35 – 14:45</strong>
						</td>    
						<td>
							<strong>The true impact of asthma exacerbations,</strong> Professor David Price
						</td>
					</tr>
					<tr>
						<td>
							<strong>14:45 – 14:55</strong>
						</td>
						<td>
							<strong>Achieving better asthma control through greater understanding of patient asthma health attitudes,</strong> Professor Thys van der Molen
						</td>
					</tr>
					<tr>
						<td>
							<strong>14:55 – 15:10</strong>
						</td>    
						<td>
							<strong>Q&A,</strong> Monica Fletcher
						</td>
					</tr>
					<tr>
						<td>
							<strong>15:10 – 15:15</strong>
						</td>    
						<td>
							<strong>Closing,</strong> Monica Fletcher
						</td>
					</tr>
			</table>
	</div>

	