$navbarBackgroundHighlight: white;
$navbarBackground: white;
$btnPrimaryBackground: purple;


@import 'bootstrap';

body {
    padding-top: 0px;
    height: 100%;   
    color: rgb(0, 103, 182);

}

body.homepage {
    padding-top: 0px;
    background-image: url('realise-background-alt.png');
    background-repeat: no-repeat;
    background-position:center 300px;
    height: 100%;     
}

@import 'bootstrap-responsive';


.container {
	max-width: 1024px;
	height: 100;
}

.navbar .container {
	max-width: 1024px;
}

.navbar-inner{
    @include box-shadow(none !important);
    border: 0;
    padding-top: 15px;
    background: transparent;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: none;
    color: rgb(255, 110, 0);
    text-decoration: none;
}

.brand:hover {
	background-color: transparent;
}

.footer {

	margin-top: 50px;
	margin-bottom: 20px;
	color: #000;
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.jumbotron {
	text-align: center;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	color: white;
	padding: 10px 10px 20px 10px;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	max-width: 99%;
	min-width: 220px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	background-color: rgb(38, 183, 194);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.jumbotron h1 {
	font-size: 30pt;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.2);

}

.jumbotron h3 {
	font-size: 16pt;
	font-style: bold;
	color: rgb(255,255,255);
}

.jumbotron p {
	font-size: 11pt;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.2);

}

.jumbotron-realise {
	text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: white;
	padding: 10px 20px 20px 10px;
	display: block;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	max-width: 100%;
	margin-top:20px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
	background-color: rgb(38, 183, 194);
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.jumbotron-realise h1 {
	font-size: 30pt;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.2);

}

.jumbotron-realise h3 {
	font-size: 16pt;
	font-family: Arial;
	font-style: bold;
	color: rgb(255,255,255);
}

.jumbotron-realise p {
	font-size: 11pt;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.2);

}

.marketing {
	text-align: left;
	margin: 35px;
	margin-bottom: 100px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.marketing-live {
	text-align: left;
	margin-left: 150px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}


.btn {
	padding-left: 80px;
	padding-right: 83px;
}

.btn-primary {
	color: white;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: rgb(255, 110, 0);
	background-image: none;
	background-repeat: none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary:hover {
	color: white;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
	background-color: rgb(255, 110, 0);
	background-image: none;
	background-repeat: none;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

ul, ol {
    padding: 11px;
    margin: 0px 0px 10px 25px;
}

a {
	color: rgb(255, 255, 255);
	font-size: 11pt;
	font-weight: 500;
	text-shadow: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

a:hover {
	background-color: transparent;
}

#mc_embed_signup .mc-field-group.input-group input {
    display: inline;
    width: auto;
    border: medium none;
    margin-top: -4px;
}

#mc_embed_signup .mc-field-group.input-group label {
    display: inline;
    margin-left: 15px;
}

#mc_embed_signup .button {
    clear: both;
    background-color: rgb(255, 110, 0);
    border: 0px none;
    border-radius: 4px 4px 4px 4px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 0px 5px 10px 0px;
    padding: 0px 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

#mc_embed_signup input {
    border: 1px solid rgb(200, 200, 200);
}

#mc_embed_signup .asterisk {
    color: rgb(204, 102, 0);
    font-size: 200%;
    margin-top: 15px;
}

#mc_embed_signup {
    background-color: rgb(255, 255, 255);
    clear: left;
    font: 14px Arial,sans-serif;
}

.table-striped {
	width: auto;
	margin-left: 100px;
	margin-right: 110px;
}


#message_name {
	width: 80%;
}

#message_country {
	width: 83%;
}

#message_doctor {
	width: 80%;
}

#message_body {
	width: 80%;
}

#registration_name {
	width: 70%;
}

#registration_media {
	width: 70%;
}

#registration_country {
	width: 72%;
}

#registration_email {
	width: 70%;
}

abbr[title], abbr[data-original-title] {
cursor: help;
border-bottom: none;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: transparent;
}

.webcast {
	text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(101, 102, 106);
	padding: 10px 10px 20px 10px;
	display: block;
	border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	max-width: 99%;
	min-width: 220px;
}

.webcast h1 {
	font-size: 30pt;
	font-family: Arial;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.2);

}

.webcast p {
	color: #000;
}

.live {
	text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: rgb(101, 102, 106);
	padding: 10px 10px 20px 10px;
	display: block;
	border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187);
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	max-width: 99%;
	min-width: 220px;
}

.live h1 {
	font-size: 30pt;
	font-family: Arial;
	text-shadow: 1px 2px 2px rgba(0,0,0,0.2);

}

.live p {
	color: #000;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

p, ol, ul, td {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
}