<p>
	<strong>Name:</strong> <%= @message.name %>
</p>
<p>
	<strong>Country:</strong> <%= @message.country %>
</p>
<p>
	<strong>Who in the panel would you like to answer your question?:</strong> <%= @message.doctor %>
</p>
<p>
	<strong>Question:</strong> <%= simple_format @message.body %>
</p>