<div class="footer footer-fixed-bottom">
  <small>
		THIS MEDIA BRIEFING IS SPONSORED BY MUNDIPHARMA INTERNATIONAL LIMITED. IT WILL NOT COVER ANY SPECIFIC PRODUCT INFORMATION. 
  </small>
 <br>
  <small>
  	MINT/RPR-15015a 
  </small>
  <br>
  <small>
  	Date of preparation: August 2013 
  </small>
</div>