<div class="footer">
  <small>
		THIS MEDIA BRIEFING IS SPONSORED BY MUNDIPHARMA INTERNATIONAL LIMITED. IT WILL NOT COVER ANY SPECIFIC PRODUCT INFORMATION. 
  </small>
  <br>
  <br>
  <small>
  	MINT/RPR-XXXX 
  </small>
  <br>
  <small>
  	Date of preparation: August 2013 
  </small>
</div>