<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
       
       <a class="brand" href="/"><img src='/assets/Realise_logo_RGB_150px.jpg'/></a>
        </div>
    </div>
</div>